.profile {
    display: flex;
    margin-left: 10px;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.avatar {
    width: 60px;
    height: 60px;
    padding: 5px;
}

.welcome_message {
    font-weight: bold;
    margin-right: 10px;
}

.user-page {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 60vh;
}

.sidebar {
    background-color: #1a4d2e;
    color: white;
    border: solid 5px #c4b056;
    border-right: none;
}

.dynamic-content {
    border: solid 5px #c4b056;
    min-width: 0;
    overflow-x: auto;
}

.sidebar-button {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #1a4d2e;
    color: #c4b056;
    cursor: pointer;
}

.sidebar-button:hover,
.sidebar-button:focus {
    background-color: #0a1f12;
}

.profileDynamicDiv {
    height: 95%;
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 2fr;
}

.profileDynamicDiv div {
    font-size: 1.5em;
    border-radius: 5px;
    border-color: rgb(116, 113, 113);
    border-style: solid;
}

.profileDynamicDiv span {
    display: block;
    margin-bottom: 10px;
    padding-left: 10px;
}

.profileImage {
    grid-column: 1;
    grid-row: 1 / 4;
}

.profileImage img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.profileText {
    grid-column: 2;
    grid-row: 1;
}

.profileGolf {
    grid-column: 2;
    grid-row: 2;
}

.profileTrophy {
    grid-column: 2;
    grid-row: 3;
}

.scorecard-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    table {
        font-family: "Barlow", Times, serif;
        white-space: nowrap;
        width: 100%;
        border-collapse: collapse;

        th, td {
            padding: 10px;
            text-align: center;
            border: 1px solid #73737383;
        }

        thead tr {
            background-color: #1a4d2e;
            color: #FFE694;
            
            th, td { border: 1px solid black; }
        }
        
        tbody tr {
            background-color: white;
            &.gold {
                background-color: #f7c455; }
            &.par, &.hdi {
                background-color: #eee5cf; }
            &.put, &.bnk, &.pnt, &.fwy ,&.gir {
                background-color: #e0e0e0; }
        }
        
        thead tr:nth-child(2),
        tbody tr {
            th, td {
                &:first-child {
                font-weight: bold;
                text-align: left;
                }
            }
        }

        input[type="number"] {
            width: 100%;
            border: none;
            text-align: center;
            box-sizing: border-box;
            background-color: transparent;
        }

        select {
            border: none;
            background-color: transparent;
        }
    }

    .scorecard-scrollbox {
        overflow-x: auto;
        border: 1px solid #73737383;
        margin-bottom: 20px;
    }
}

.button-container {
    text-align: center;
}

.button-container button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button-container button:hover {
    background-color: #218838;
}

#totalScore {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.handicap-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: fit-content;
    margin-top: 2em;

    border: 3px solid navy ;
    border-radius: 15px;

    .handicap-grid {
        padding: 1em 1em 0 1em;
        display: grid;
        grid-template-columns: 300px 100px 120px;
        grid-template-rows:    100px 50px;
        grid-template-areas: "name . hdi"
                             "date . hdi";
        .name, .date, .hdi {
            div { display: flex; }
            span:first-child ~ span { font-weight: 800; }
        }

        .name {
            grid-area: name;
            span:first-child { min-width: 80px; }
        }
        .date {
            grid-area: date;
            span:first-child { min-width: 170px; }
        }
        .hdi {
            grid-area: hdi;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            
            position: relative;
            top: -25px;
            span, hr {
                position: relative;
                top: -20px;
            }
            
            line-height: 1.4;
            hr { width: 100%; margin: 0;}
            .logo img {
                height: 120px;
                margin: 0;
            }
        }
    }

    table {
        border-radius: 15px;
        background-color: white;
        width: 100%;
        border-collapse: collapse;

        thead {
            background-color: rgb(19, 19, 99);
            color: white;
        }
        tbody td {
            padding: 0 1em;
        }
    }
}

body.dashboard-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        section.user-page { flex-grow: 1; }
        
        .dynamic-content {
            display: flex;
            flex-direction: column;

            div.scorecard-container { flex-grow: 1; }
       
            .handicapImage { align-self: center; }

            div.auth-form {
                align-self: center;
                margin-top: 1em;
            }
        }
    }

    footer {
        margin-top: 0;
        padding: 20px 0 10px 0;
        display: flex;
        justify-content: end;

        div.container {
            margin: 0;
            padding: 0 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: end;
        }
    }
}